*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
}

.nav-container {
  height: 60px;
  width: 100vw;
  padding: 0.825rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}

.nav-links a:hover {
  border-bottom: 1px solid #333;
}

.material-icons {
  padding: 1rem;
  margin-left: 0.5rem;
  color: #6c6f72;

  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons:hover {
  cursor: pointer;
  background: rgb(238, 238, 238);
  border-radius: 50%;
}

.pfp {
  margin-left: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-img {
  margin-top: -7rem;
}
.search {
  display: block;
  margin: 1.5rem 0 2rem 0;
  padding: 0.9rem 12.5rem;
  border: 1px lightgray solid;
  border-radius: 20px;
}

.cta {
  display: inline;
  font-size: 1rem;
  border: 0;
  background: #f8f9fa95;
  padding: 0.5rem 1rem;
  margin-left: 50px;
  color: #6c6f72;
}
