*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
}
.nav-container {
  height: 60px;
  margin: 0.6rem 0.825rem 1rem;
}
.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 0.6rem;
}

.nav-links a:hover {
  border-bottom: 1px solid #333;
}

.material-icons {
  color: #6c6f72;
  margin-right: -0.3rem;
  margin-left: 0.5rem;
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons:hover {
  cursor: pointer;
  background: rgb(238, 238, 238);
  border-radius: 50%;
}

.pfp-link {
  margin: 0 0.3rem 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pfp {
  border-radius: 50%;
}

.pfp-link:hover .pfp {
  margin: -4px;
  cursor: pointer;
  border: 4px solid rgb(238, 238, 238);
}

.main-container {
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-img {
  margin-top: -10.5rem;
}

.input-container {
  max-width: 36.5rem;
  width: calc(100vw - 50px);
  position: relative;
  margin: 1.5rem 0 2rem 0;
}
i {
  color: lightgray;
  position: absolute;
  left: 15px;
  top: 15px;
}
.search {
  width: 100%;
  font-size: 1rem;
  display: block;
  padding: 0.8rem 3rem;
  border: 1px lightgray solid;
  border-radius: 30px;
}

.search:before {
  font-family: "Font Awesome 5 Free";
  content: "1f50d";
}

.search:focus,
.search:hover {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 7px lightgray;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.button-container button {
  font-size: 0.9rem;
  border: 0;
  background: #f2f2f290;
  padding: 0.55rem 1rem;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
}

.button-container button:hover {
  border: 1px solid lightgray;
  margin: -1px;
}

footer {
  padding: 0.9rem;
  width: 100vw;
  background: #f2f2f2;
}

.footer-container {
  display: flex;
  margin: 0 1.2rem;
  justify-content: space-between;
}

.footer-container a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #00000095;
}

.footer-container a:hover {
  border-bottom: 1px solid #000;
}

.left {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 863px) {
  .footer-container {
    margin: auto;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .main-container {
    height: calc(100vh - 178px);
  }
}
